.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $colorTerciario;


    .barraBusqueda {
        display: flex;
        margin: 1rem;
        border: 2px solid $colorVectores;
        border-radius: 5px;
        background: url(../../Assets/busqueda.png) no-repeat left 5px center;
        background-size: 15px;
        padding: 5px 5px 5px 30px;
        background-color: white;
        color: $colorPrincipal;
        box-sizing: border-box;
        height: auto;
        width: 100%;
        max-width: 600px;
    }

    .barraBusqueda .buscador {
        display: flex;
        width: 100%;
        font-size: $text-size-default;
    }

    .logoHeader {
        display: flex;
        max-width: 300px;
        min-height: 150px;
    }

    @each $breakpoint, $value in $grid-breakpoints {
        @include adaptable($breakpoint) {

            /*header en columnas*/

            @if $breakpoint =='xs' or $breakpoint=='sm' {
                flex-direction: column;
            }

            @else {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                max-height: 150px;
            }


            .logoHeader {

                @if $breakpoint=='xs' {
                    max-width: 250px;
                    min-height: 100px;

                    img {
                        width: 250px;
                    }
                }

                @if $breakpoint=='sm' {
                    max-width: 300px;
                    min-height: 150px;

                    img {
                        width: 300px;
                    }
                }

                @else if $breakpoint=='md' {
                    padding: 1rem 0;

                    img {
                        width: 100%;
                    }
                }

                @else if $breakpoint=='lg' {
                    padding: 1rem 0;
                    
                    img {
                        width: 100%;
                    }
                }
            }

        }

        .barraBusqueda .buscador {
            @if $breakpoint=='xs' {
                font-size: 12px;
            }

            @else if $breakpoint=='sm' {
                font-size: 12px;
            }

            @else {
                font-size: $text-size-default;
            }
        }
    }

    .accionesUI{
        display: flex;
        gap: 0.5rem;
    
        .botonUI{
            @extend .boton;

            &.miCuenta{
                background-color: transparent;
            }
            &.carrito{
                background-color: transparent;
            }
            &.ubicacion{
                background-color: transparent;
            }

        }

        .icono{
            width: 24px;
            height: 24px;
            margin-right: 2px;
        }

    }

}