$navbar-bg-color: rgba(41,53,119,0.4);
$navbar-text-color: $colorPrincipal;
$navbar-hover-bg: white;
$navbar-hover-color: $colorPrincipal;

.navbar {
    background: $gradientMenu;

    .navbar-toggler {
        border: none;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .navbar-toggler-icon {
        background-image: url('data:image/svg+xml; charset=utf8, %3Csvg xmlns%3D%27http://www.w3.org/2000/svg%27 viewBox%3D%270 0 30 30%27%3E%3Cpath stroke%3D%27rgba%280, 0, 999, 0.5%27 stroke-width%3D%272%27 d%3D%27M4 7h22M4 15h22M4 23h22%27/%3E%3C/svg%3E');
    }

    .menu {
        .nav-link {
            font-weight: bold;
            color: $navbar-text-color;
            text-shadow:2px 2px 2px white, 
            -2px 2px 2px white, 
            2px -2px 2px white, 
            -2px -2px 2px white;
            padding: 0.5rem 1rem;
            border: 1px solid transparent;

            &:hover {
                background-color: $navbar-hover-bg;
                color: $navbar-hover-color;
                border-radius: 5px;
                border: 1px solid $colorPrincipal
            }
        }
        .activo {
            font-style: italic;
            color: $navbar-hover-color;
        }
    }
}

@media (min-width: 768px) {
    .navbar {
        .menu {
            display: flex;
            flex-direction: row;
            .nav-item {
                margin-right: 1rem;
            }
        }
        .navbar-collapse {
            display: flex !important;
            justify-content: center;
        }
        .navbar-toggler{
            display: none;
        }
    }
}
