body {
    font-family: "PT Serif", serif;
    text-shadow: 2px 2px 4px gray;
}

h3 {
    font-family: "Ubuntu", serif;
    color: $colorPrincipal;
    text-shadow: 2px 2px 4px gray;
}

a {
    text-decoration: none;
    color: $colorVectores;
}