$colorPrincipal: #293577;
$colorBackground: #FFF8E1;
$colorTerciario: #E0E0E0;
$colorVectores: #3F51B5;
$espaciado-default: 1rem;
$text-size-default: 14px;
$transiciones: background-color 0.3s, color 0.3s;