#carrouselHome {

    margin: 15px;

    .carrouselHomeItem {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px; // Altura inicial
        background-color: #f8f9fa; // Fondo opcional
        padding: 10px;

        @include adaptable(md) {
            height: 250px; // Ajustar altura en pantallas medianas
        }

        @include adaptable(lg) {
            height: 400px; // Ajustar altura en pantallas grandes
        }
    }

    // Estilo para las imágenes
    .carrouselHomeImage {
        max-height: 100%; // Ajusta la altura de la imagen al contenedor
        max-width: 100%; // Mantén la imagen dentro del contenedor
        object-fit: contain; // Ajusta la imagen para que no se deforme

        @include adaptable(md) {
            margin: 10px; // Espaciado adicional en pantallas medianas
        }

        @include adaptable(lg) {
            margin: 20px; // Espaciado adicional en pantallas grandes
        }
    }

    // Estilo para las leyendas del carrusel
    .carrouselHomeCaption {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.6); // Fondo semitransparente
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 0.9rem;

        @include adaptable(md) {
            font-size: 1rem; // Ajusta el tamaño de texto en pantallas medianas
        }

        @include adaptable(lg) {
            font-size: 1.2rem; // Ajusta el tamaño de texto en pantallas grandes
        }
    }

    // Estilo para los controles del carrusel
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: #000; // Fondo negro para los íconos
        border-radius: 50%; // Íconos redondeados
        padding: 10px;

        @include adaptable(md) {
            padding: 15px; // Ajustar tamaño en pantallas medianas
        }

        @include adaptable(lg) {
            padding: 20px; // Ajustar tamaño en pantallas grandes
        }
    }
}
