#carrouselHome {
    margin: 15px;
    max-height: 500px;
    overflow: hidden;

    .carousel-inner {
        height: 100%;
    }
    .carousel-item.active{
        display: block;
    }
    .carousel-item {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.6s ease-in-out;
    }

    img {
        height: 100%;
        max-height: 500px;
        width: auto;
        object-fit: contain;
    }

    .carousel-caption {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 100, 0.8); 
        padding: 10px 20px;
        border-radius: 5px;
        border: solid 1px white;
        font-size: 1rem;
        color: white;
    }

    .carousel-indicators {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        gap: 10px;

        button {
            width: 10px;
            height: 10px;
            background-color: blue; 
            border-radius: 50%;
            border: none;
            transition: background-color 0.3s ease;

            &.active {
                background-color: #007bff; 
            }

            &:hover {
                background-color: #0056b3;
            }
        }
    }
}
