#carouselHome {
    margin: 15px;
    max-height: 500px;
    overflow: hidden;

    .carousel-inner {

        .carrouselHomeItem {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px; 
            padding: 10px;

            @include adaptable(md) {
                height: 250px; 
            }

            @include adaptable(lg) {
                height: 400px; 
            }
        }

        img {
            max-height: 500px;
            max-width: 100%;
            object-fit: contain;
        }

    }

    .carousel-caption {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 100, 0.8); 
        padding: 10px 20px;
        border-radius: 5px;
        border: solid 1px white;
        font-size: 1rem;
        color: white;
        max-width: 90%;


    @media(max-width: 576px) { 
        display: block !important;
        width: 90%;
        font-size: 0.6rem; 
          h5{
            font-size: 0.8rem;
        }
    }
    
    @media (max-width: 850px){
        display: block !important;
        font-size: 0.8rem;
        width: 80%;

        h5{
            font-size: 1rem;
        }
    }

}
}
